{% extends "base.html" %}
{% block content %}

<h1>Add assessment</h1>
<form action="" method="post" name="New assessment">
    {{ form.hidden_tag() }}

    {{ form.title(class_='form-control') }}
    {% for error in form.title.errors %}
    <div class="alert alert-danger" role="alert">
        [{{ error }}]
    </div>
    {% endfor %}
    {{ form.code(class_='form-control') }}
    {% for error in form.code.errors %}
    <div class="alert alert-danger" role="alert">
        [{{ error }}]
    </div>
    {% endfor %}
    {{ form.deadline(class_='form-control') }}
    {% for error in form.deadline.errors %}
    <div class="alert alert-danger" role="alert">
        [{{ error }}]
    </div>
    {% endfor %}
    {{ form.description(class_='form-control') }}
    {% for error in form.description.errors %}
    <div class="alert alert-danger" role="alert">
        [{{ error }}]
    </div>
    {% endfor %}
    <p><input type="submit" class="btn btn-primary" value="Add"></p>
</form>
{% endblock %}