{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>Add assessment</h1>
        </div>
    </div>
</div>

<form action="" method="post" name="New assessment">
    {{ form.hidden_tag() }}

    <div class="container-fluid">
        <div class="row">
            <!-- <div class="input-group"> -->
            <div class="col-3">
                <h4>Title</h4>
                {{ form.title(class_='form-control') }}
            </div>
            <div class="col-2">
                <h4>Course code</h4>
                {{ form.code(class_='form-control') }}
            </div>
            <div class="col-2">
                <h4>Due date</h4>
                {{ form.deadline(class_='form-control') }}
            </div>
        </div>
        <div class="row">
            {% for error in form.title.errors %}
            <div class="col-3 alert alert-danger" role="alert">
                [{{ error }}]
            </div>
            {% endfor %}
            {% for error in form.code.errors %}
            <div class="col-2 alert alert-danger" role="alert">
                [{{ error }}]
            </div>
            {% endfor %}
            {% for error in form.deadline.errors %}
            <div class="col-2 alert alert-danger" role="alert">
                [{{ error }}]
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-7" style="height: 200px">
                <h4>Description</h4>
                {{ form.description(class_='form-control', style="height: 150px") }}
            </div>
        </div>
        <div class="row">
            <div class="col-7">
                {% for error in form.description.errors %}
                <div class="alert alert-danger" role="alert">
                    [{{ error }}]
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <input type="submit" class="btn btn-primary col-12" value="Add">
            </div>
            <div class="col-3">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
        </div>
</form>
{% endblock %}