{% extends "base.html" %}
{% block content %}


<div class="container-fluid">
    <div class="row">
        <div class="col-10">
            <h1>All my assessments</h1>

            <body>
                <table class="table table-hover table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Due date</th>
                            <th scope="col">Title</th>
                            <th scope="col">Course</th>
                            <th class="col-6">Description</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ass in assessments %}
                        <tr>
                            <th scope="row">{{ ass.deadline }}</th>
                            <td>{{ ass.title }}</td>
                            <td>{{ ass.code }}</td>
                            <td>{{ ass.description }}</td>
                            <td>
                                {% if ass.complete %}
                                Complete
                                {% else %}
                                Uncomplete
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </body>
        </div>
    </div>
</div>
{% endblock %}