{% extends "base.html" %}
{% block content %}


<div class="container-fluid">
    <div class="row">
        <div class="col-12 offset-lg-4 offset-md-3">
            {% block title %}{% endblock %}
        </div>
    </div>

    <body>
        <form action="" method="post">
            <div class="row">
                <div class="col-lg-6 col-md-8 col-sm-12 offset-lg-5 offset-md-3 offset-sm-0" style="height: 50px">
                    {% block buttons %}{% endblock %}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 offset-lg-1">
                    <table class="table table-hover table-bordered">
                        <thead class="thead-light">
                            {% if assessments|length == 0 %}
                            <tr>
                                <th scope="col">No assessments</th>
                            </tr>
                            {% else %}
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Due date</th>
                                <th scope="col">Title</th>
                                <th scope="col">Course</th>
                                <th class="col-lg-6 col-md-4 col-sm-2 col-xs-1">Description</th>
                                <th scope="col">Status</th>
                            </tr>
                            {% endif %}
                        </thead>
                        <tbody>
                            {% for ass in assessments %}
                            <tr>
                                <td><input type="checkbox" name="assessment_id" , value="{{ ass.id }}"></td>
                                <th scope=" row">{{ ass.deadline }}</th>
                                <td>{{ ass.title }}</td>
                                <td>{{ ass.code }}</td>
                                <td>{{ ass.description }}</td>
                                <td>
                                    {% if ass.complete %}
                                    Complete
                                    {% else %}
                                    Uncomplete
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
        </form>
    </body>
</div>
</div>
</div>
{% endblock %}